# Verification


## Supported Types

### `Components\Otp`

```php
Components\Otp $value = /* values here */
```

### `Components\Admin`

```php
Components\Admin $value = /* values here */
```

### `Components\Oauth`

```php
Components\Oauth $value = /* values here */
```

